[submodule "roles/ansible-role-customize-gnome"]
	path = roles/ansible-role-customize-gnome
	url = https://github.com/Noriller/ansible-role-customize-gnome.git

[submodule "roles/ansible-dropbox"]
	path = roles/ansible-dropbox
	url = https://github.com/Oefenweb/ansible-dropbox.git
[submodule "roles/ansible-nordvpn"]
	path = roles/ansible-nordvpn
	url = https://github.com/ifel/nordvpn.git
