#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=google-chrome
Exec=google-chrome-stable --class=/home/{{ user_login }}/.config/google-chrome/Default --user-data-dir=/home/{{ user_login }}/.config/google-chrome/Default --enable-features=WebUIDarkMode --force-dark-mode
Name[en_US]=Chrome-Main
Name=Chrome-Main
Icon=google-chrome